listener "tcp" {  
  address          = "0.0.0.0:8200"  
  cluster_address  = "0.0.0.0:8201" 
  #tls_disable = "true"
  tls_cert_file = "{{vault_config_path}}tls.crt"  
  tls_key_file  = "{{vault_config_path}}tls.key"
}

storage "raft" {
  node_id = "{{inventory_hostname}}"
  path  = "{{vault_data_dir}}data"
  {% for hosts in groups['vault'] %}
  retry_join {
    leader_api_addr   = "https://{{ hosts }}:8200"      
  }
  {% endfor %}
}

seal "transit" {
  address = "https://192.168.100.6:8200"
  disable_renewal = "false"
  token = "{{token}}"
  key_name = "autounseal"
  mount_path = "transit/"
  tls_skip_verify = "true"
}

api_addr = "https://{{inventory_hostname}}:8200"
cluster_addr = "https://{{inventory_hostname}}:8201"
ui = true
